__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.git
.gitignore
.github
frontend/
tests/
test_hiresense.db
test_hiresense.db-shm
test_hiresense.db-wal
.DS_Store
