# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment Variables
.env
.env.*

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Streamlit
.streamlit/secrets.toml

# Logs
*.log

# Build artifacts
build/
dist/