alembic
anyio
bcrypt
cloudinary
email-validator
fastapi
httpx
joblib
limits
lxml
numpy
pydantic
pydantic-settings
PyJWT
PyPDF2
pytest
python-dateutil
python-docx
python-dotenv
python-multipart
requests
scikit-learn
scipy
slowapi
SQLAlchemy
starlette
typing-extensions
urllib3
uvicorn
